SERVER_HOST=172.20.10.4
SERVER_PORT=8000

SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,172.20.10.4,backend

USE_SQLITE=False

POSTGRES_DB=db_base_pro
POSTGRES_USER=admin01
POSTGRES_PASSWORD=your-password-here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CORS_ALLOWED_ORIGINS=http://172.20.10.4:5173,http://172.20.10.4:3000

VITE_API_URL=http://172.20.10.4:8000
VITE_API_PROXY_TARGET=http://localhost:8000